body{ 
  min-height: 100vh;
  margin: 0;
  font-family: "Audiowide", sans-serif;
    border:2px dotted ;
  background: linear-gradient(#000000, #743cce) ;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  color: #f8088c; 

}

.ruka{
    cursor:pointer;
}
.app{
     
    min-height: 700px;
    border:2px dotted #f8088c;
    margin: 25px;
    padding: 25px;   
}
  
.sredina{
    text-align: center;
}

.desno{
    text-align: right;
}
footer{
    background-color: transparent;
}
.btn {
  font-family: "Audiowide", sans-serif;
  background-color: #743cce; 
  border: 2px solid #f8088c; 
  color: #f8088c; 
  border-radius: 8px;
  padding: 10px 20px;
  transition: all 0.2s ease;
}

.btn:hover {
  background-color: #f8088c; 
  color: #743cce; 
}

.table {
  font-family: "Audiowide", sans-serif;
  background-color: #d16d08;
  border: 3px solid #f8088c;
}

.table thead th {
  background-color: #743cce; 
  color: #f8088c;
}
.bg-body-tertiary {
    background-color: transparent !important; 
}



